<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/entete.css" />
    <title>[[ ${pageName}]]</title>
  </head>

  <body>
    <header th:replace="/entete :: my_entete"></header>
    <div class="listmsg">
      <h1>XML Writing File</h1>
      <hr>
      <h2>Liste of file</h2>
      <hr>
      <p>[[${vide}]]</p>
      <ul id="lsfile">
        <li data-th-each="num,info : ${lsHeader}" th:if='${num.idReceiver == currentUser}'>
          Receiver name : <span class="affname" th:id="${num.idReceiver}"></span><br>
          Transmitter name : <span class="affname" th:id="${num.idTransmitter}"></span><br>
          number of message : [[ ${num.nbMsg} ]]<br>
          Reference authorization : [[ ${num.authRef} ]]<br>
          Date authorization : <span class="authDate">[[ ${num.authDate} ]]</span><br>
          Message : [[ ${num.lsMessage} ]]<br>
          <a data-th-href="@{respondFile(id=${num.id})}">Respond</a>
          <a data-th-href="@{deleteFile(id=${num.id})}">Delete</a>
        </li>
      </ul>
      <a data-th-href="@{respondFile(id=0)}">Empty authorization</a>
    </div>
    <div class="containermsg">
      <form method="POST" action="/addHeader">
      <h2>Header</h2>
      <hr />
        <label><strong>Number of messages</strong></label>
        <input type="number" name="nbMsg" id="nbMsg" value="1" min="1" required onchange="verifAuth()" /></br>
        <label><strong>Name of receiver</strong></label>
        <input type="text" placeholder="Name" th:value="${nameRec}" name="namersv" required />
        <label><strong>Name of Transmitter</strong></label>
        <input type="text" placeholder="Name" th:value="${nameTrans}" name="nametrm" required />
        <label><strong>Authorisation ref</strong></label>
        <input type="text" placeholder="authorization reference" th:value="${authoRef}" name="authRef" id="authRef" readonly="readonly" />
        <label id="erreurDate"><strong>Date non valide</strong></label>
        <label><strong>Authorisation date</strong></label>
        <input id="dateAuth" type="Date" placeholder="Authorisation date" th:value="${authDate}"  name="authDate" readonly="readonly" />
        <input type="submit" id="submit" value="Create file" />
      </form>
    </div>
    <script th:inline="javascript">
      /*<![CDATA[*/
      var lsUsername = /*[[${lsUsername}]]*/ 'default';
      console.log(lsUsername);

      lsfile = document.getElementById("lsfile").getElementsByClassName("affname");
      lsfilelength = document.getElementById("lsfile").getElementsByClassName("affname").length;
      console.log(lsfile);
      for (i = 0; i < lsfilelength; i++) {
        elem = lsUsername.find(element => element.id == lsfile[i].id);
        console.log(elem);
        lsfile[i].append(elem.name);
      }

      lsdate = document.getElementById("lsfile").getElementsByClassName("authDate");
      var today = new Date().getTime();
      for(i=0; i<lsdate.length; i++){
        console.log(lsdate[i].textContent);
        console.log(lsdate[i].innerHTML);
        headDate = new Date(lsdate[i].innerHTML).getTime();
        console.log(headDate)
        if(headDate < today){
          aNode = lsdate[i].nextSibling.nextSibling.nextSibling.nextSibling.nextSibling;
          console.log(aNode);
          aNode.remove();
          lsdate[i].style.backgroundColor = "red";
        }
      }

    $(".readonly").keydown(function (e) {
      e.preventDefault();
    });

    function verifAuth() {
      var auth = document.getElementById("authRef").value;
      console.log(auth);
      if (auth == "") {
        document.getElementById("nbMsg").value = 1;
        document.getElementById("nbMsg").class = "readonly";
      } else {
        document.getElementById("nbMsg").class = "";
      }
    }
    /*]]>*/

    function isFutureDate() {
      var idate = document.getElementById("dateAuth").value;
      var choose = new Date(idate).getTime();
      console.log(idate)
      var today = new Date().getTime();
      console.log(today)
      console.log(choose)
      if (today > choose) {
        console.log("block")
        document.getElementById("erreurDate").style.display = "block";
        document.getElementById("dateAuth").value = "";
      } else {
        console.log("none")
        document.getElementById("erreurDate").style.display = "none";
      }
    }
  </script>
</body>

</html>