<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>[[ ${pageName}]]</title>
  </head>

  <body>
    <h1>Communication with XML file</h1>
    <div class="menu">
      <button
        id="bouton"
        class="positionbone"
        onclick="window.location.href='writing'"
      >
        XML Writing
      </button>
      <button
        id="bouton"
        class="positionbtwo"
        onclick="window.location.href='reading'"
      >
        XML Reading
      </button>
    </div>
  </body>
</html>
