<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/entete.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <title>[[ ${pageName}]]</title>
</head>

<body>
  <header th:replace="/entete :: my_entete"></header>
  <div class="listmsg">
    <h2>List XML file</h2>
    <hr>
    <ul id="lsfile">
      <li data-th-each="num,info : ${lsHeader}">
        Receiver name : [[ ${num.nomReceiver} ]]<br>
        Transmitter name : [[ ${num.nomTransmitter} ]]<br>
        number of message : [[ ${num.nbMsg} ]]<br>
        Reference authorization : [[ ${num.authRef} ]]<br>
        Date authorization : [[ ${num.authDate} ]]<br>
        <a data-th-href="@{readinggg(ind=${num.id})}">Generate an xml file</a>
        <div th:if='${generer!=""}'>
          <div th:if='${id == num.id}'>
            <form method="POST" action="/xml-file">
              <label><strong>Enter a name for the file</strong></label>
              <input type="Text" name="filee" />
              <input type="text" name="idLong" th:value="${num.id}" readonly="readonly" />
              <input type="submit" value="Generate" />
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="containermsg">
    <form method="POST" action="/Parse">
      <label><strong>Parser a file</strong></label>
      <input type="Text" name="file" />
      <input type="submit" value="Parser" />
      <p>Exemple : src/main/resources/static/file.xml</p>
      <p style="color: red;">[[${erreur}]]</p>
    </form>
  </div>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var lsUsername = /*[[${lsUsername}]]*/ 'default';
    console.log(lsUsername);

    lsfile = document.getElementById("lsfile").getElementsByTagName("li");
    console.log(lsfile);
    lsUsername.forEach(Element => {
      console.log(Element.id);
      //console.log(document.getElementById(Element.id).id);
      if (document.getElementById(Element.id) != null) {
        console.log("dans if");
        document.getElementById(Element.id).append(Element.name);
      }
    });

    /*]]>*/
  </script>
</body>

</html>