<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/entete.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <title>[[ ${pageName}]]</title>
  </head>

  <body>
    <header th:replace="/entete :: my_entete"></header>
    <div class="listmsg">
      <h2>List XML file</h2>
      <hr>
      <ul id="lsfile">
        <li data-th-each="num,info : ${lsHeader}"> 
          Receiver name : <span class="affname" th:id="${num.idReceiver}"></span><br>
          Transmitter name : <span class="affname" th:id="${num.idTransmitter}"></span><br>
          number of message : [[ ${num.nbMsg} ]]<br>
          Reference authorization : [[ ${num.authRef} ]]<br>
          Date authorization : [[ ${num.authDate} ]]<br>
          <a data-th-href="@{xml-file(ind=${num.id})}">Generate an xml file</a>
        </li>
    </ul>
  </div>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var lsUsername = /*[[${lsUsername}]]*/ 'default';
    console.log(lsUsername);

    lsfile = document.getElementById("lsfile").getElementsByClassName("affname");
    lsfilelength = document.getElementById("lsfile").getElementsByClassName("affname").length;
    console.log(lsfile);
    for (i = 0; i < lsfilelength; i++) {
      elem = lsUsername.find(element => element.id == lsfile[i].id);
      console.log(elem);
      lsfile[i].append(elem.name);
    }
    /*]]>*/
  </script>
  </body>

</html>