<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>[[ ${pageName}]]</title>
  </head>

  <body>
    <div class="container">
      <form method="POST" action="" id="monForm">
        <h1>XML Writing</h1>
        <label><strong>Name of receiver</strong></label>
        <input type="text" placeholder="Name" name="namersv" required />

        <label><strong>Name of Transmitter</strong></label>
        <input type="text" placeholder="Name" name="nametrm" required />

        <label><strong>Date</strong></label>
        <input type="Date" name="date" required />

        <label><strong>Date Validity</strong></label>
        <input type="Date" name="dateV" required />

        <!-- Type of message -->
        <label for="type"><strong>Type</strong></label>
        <select
          name="type"
          id="type"
          onchange="if(this.selectedIndex==1) ajouterbarter(); else if(this.selectedIndex==2) ajouterrequest();else if(this.selectedIndex==4) acceptresponse();else if(this.selectedIndex==5) denyresponse();else if(this.selectedIndex==6) ajouterCat();else if(this.selectedIndex==7) ajouterCatReq();else if(this.selectedIndex==8) ajouterNoCat();else if(this.selectedIndex==10) authresponse();else if(this.selectedIndex==3) ajouterdonation();else if(this.selectedIndex==11)ajouterAuthReq();"
        >
          <option value="default" selected>Select-type</option>
          <option value="barter">Barter</option>
          <option value="request">Request</option>
          <option value="donation">Donation</option>
          <option value="accept">Accept</option>
          <option value="deny">Deny</option>
          <option value="cat">Catalogue</option>
          <option value="catrequest">Catalogue Request</option>
          <option value="nocat">No Catalogue</option>
          <option value="errormsg">Error Message</option>
          <option value="auth">Auth</option>
          <option value="authrequest">AuthRequest</option></select
        ><br />
        <div id="enplus"></div>
        <script>
          function ajouterbarter() {
            document.getElementById("enplus").innerHTML =
              '<label ><strong>Object Name</strong></label> <input type="text" name="objectnamercv" required><br> <label ><strong>Object Details</strong></label> <input type="text" name="objectdetailsrcv" required><br> <label ><strong>Object Name send</strong></label> <input type="text" name="objectnamesnd" required><br> <label ><strong>Object Details send</strong></label> <input type="text" name="objectdetailssnd" required><br> <label ><strong>ID of PrevMsg</strong></label> <input type="text" name="id" required><br>';
            document.getElementById("monForm").action = "/add-barter";
          }
          function ajouterrequest() {
            document.getElementById("enplus").innerHTML =
              '<label ><strong>Object receiver Name</strong></label> <input type="text" name="objectnamercv" required><br> <label ><strong>Object Details</strong></label> <input type="text" name="objectdetailsrcv" required><br> <label ><strong>ID of PrevMsg</strong></label> <input type="text" name="id" required><br>';
            document.getElementById("monForm").action = "/add-request";
          }

          function ajouterCat() {
            document.getElementById("enplus").innerHTML =
              '<label ><strong>Objet Nom Init</strong></label><input type="text" name="objectnameinit" required><br> <label ><strong>Object Nom Details</strong></label> <input type="text" name="objectdetailsinit" required><br> <label><strong>Date Validity</strong></label><input type="Date" name="catDate" required> <br>';
            document.getElementById("monForm").action = "/add-cat";
          }

          function ajouterCatReq() {
            document.getElementById("enplus").innerHTML = "";
            document.getElementById("monForm").action = "/add-catreq";
          }
          function ajouterNoCat() {
            document.getElementById("enplus").innerHTML =
              '<label ><strong>Raison : </strong></label><input type="text" name="reason" required>';
            document.getElementById("monForm").action = "/add-nocat";
          }
          function authresponse() {
            console.log("auth");
            document.getElementById("enplus").innerHTML =
              "<label> Envoi une demande de message</label>";
            document.getElementById("monForm").action = "/auth";
          }
          function denyresponse() {
            document.getElementById("enplus").innerHTML =
              '<label ><strong>ID of proposition msg</strong></label><input type="text" name="id" required><br><label ><strong>Raison : </strong></label><input type="text" name="reason" required>';
            document.getElementById("monForm").action = "/deny";
          }
          function acceptresponse() {
            document.getElementById("enplus").innerHTML =
              '<label ><strong>ID of proposition msg</strong></label><input type="text" name="id" required>';
            document.getElementById("monForm").action = "/accept";
          }
          function ajouterdonation() {
            document.getElementById("enplus").innerHTML =
              '<label ><strong>Object sender Name</strong></label> <input type="text" name="objectnamesnd" required><br> <label ><strong>Object Details</strong></label> <input type="text" name="objectdetailssnd" required><br> <label ><strong>ID of PrevMsg</strong></label> <input type="text" name="id" required><br>';
            document.getElementById("monForm").action = "/add-donation";
          }

          function ajouterAuthReq() {
            document.getElementById("enplus").innerHTML = "";
            document.getElementById("monForm").action = "/add-authreq";
          }
        </script>

        <input type="submit" id="submit" value="write" />
      </form>
    </div>
  </body>
</html>
