<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>[[ ${pageName}]]</title>
  </head>

  <body>
    <div class="container">
      <form method="POST" action="" id="monForm">
        <h1>XML Writing</h1>
        <h2>Header</h2>
        <hr />
        <label for="idHeader"><strong>id Header</strong></label>

        <!-- if the list of header are not empty -->
        <select th:if="${lsHeader}" th:each="ls : ${lsHeader}" name="idHeader" id="type"
        onchange="changeFile(this.selectedIndex);">
          <option value="New" selected>New File</option>
          <option value="[[${ls.id}]]" >[[${ls.id}]] [[${ls.nameReceiver}]]</option>
        </select>

        <div id="headInfo">
        <label><strong>Name of receiver</strong></label>
        <input type="text" placeholder="Name" name="namersv" required />

        <label><strong>Name of Transmitter</strong></label>
        <input type="text" placeholder="Name" name="nametrm" required />

        <label><strong>Authorisation ref</strong></label>
        <input
          type="text"
          placeholder="Authorisation ref"
          name="authRef"
          required
        />

        <label><strong>Authorisation date</strong></label>
        <input
          type="Date"
          placeholder="Authorisation date"
          name="authDate"
          required
        />
        <input type="submit" id="submit" value="Create file" />
        </div>
        </form>

        <form method="POST" action="" id="formMessage">
        <h2>Body</h2>
        <hr />
        <label><strong>Date</strong></label>
        <input type="Date" name="date" required />

        <label><strong>Date Validity</strong></label>
        <input type="Date" name="dateV" required />

        <!-- Type of message -->
        
        <h3>Add Message</h3>
        <label><Strong>id Header</Strong></label><br>
        <input type="number" name="idHeader" required>
        <label for="type"><strong>Type</strong></label>
        <select
          name="type"
          id="type"
          onchange="if(this.selectedIndex==1) ajouterbarter(); else if(this.selectedIndex==2) ajouterrequest();else if(this.selectedIndex==4) acceptresponse();else if(this.selectedIndex==5) denyresponse();else if(this.selectedIndex==6) ajouterCat();else if(this.selectedIndex==7) ajouterCatReq();else if(this.selectedIndex==8) ajouterNoCat();else if(this.selectedIndex==10) authresponse();"
        >
          <option value="default" selected>Select-type</option>
          <option value="barter">Barter</option>
          <option value="request">Request</option>
          <option value="donation">Donation</option>
          <option value="accept">Accept</option>
          <option value="deny">Deny</option>
          <option value="cat">Catalogue</option>
          <option value="catrequest">Catalogue Request</option>
          <option value="nocat">No Catalogue</option>
          <option value="errormsg">Error Message</option>
          <option value="auth">Auth</option>
          <option value="authrequest">AuthRequest</option></select
        ><br />
        <div id="enplus"></div>
        <input type="submit" value="Add message" onclick="ajouterMessage();"/>

        <!-- List of message -->
        <ol id="listMsg"></ol>
        </form>
        <!-- JavaScipt -->
        <script th:inline="javascript">
          function changeFile(index){
            console.log(index);
          }
          function ajouterMessage(){
            newMsg = document.createElement("li");
            newMsg.id = document.getElementById("listMsg").childNodes.length;
            console.log(newMsg.id);
            
            document.getElementById("listMsg").appendChild(newMsg);
          }
          function ajouterbarter() {
            document.getElementById("enplus").innerHTML =
              '<label ><strong>Object Name</strong></label> <input type="text" name="objectnamercv" required><br> <label ><strong>Object Details</strong></label> <input type="text" name="objectdetailsrcv" required><br> <label ><strong>Object Name send</strong></label> <input type="text" name="objectnamesnd" required><br> <label ><strong>Object Details send</strong></label> <input type="text" name="objectdetailssnd" required><br> <label ><strong>ID of PrevMsg</strong></label> <input type="text" name="id" required><br>';
            document.getElementById("formMessage").action = "/add-barter";
          }
          function ajouterrequest() {
            document.getElementById("enplus").innerHTML =
              '<label ><strong>Object receiver Name</strong></label> <input type="text" name="objectnamercv" required><br> <label ><strong>Object Details</strong></label> <input type="text" name="objectdetailsrcv" required><br> <label ><strong>ID of PrevMsg</strong></label> <input type="text" name="id" required><br>';
            document.getElementById("formMessage").action = "/add-request";
          }

          function ajouterCat() {
            document.getElementById("enplus").innerHTML =
              '<label ><strong>Objet Nom Init</strong></label><input type="text" name="objectnameinit" required><br> <label ><strong>Object Nom Details</strong></label> <input type="text" name="objectdetailsinit" required><br> <label><strong>Date Validity</strong></label><input type="Date" name="catDate" required> <br>';
            document.getElementById("formMessage").action = "/add-cat";
          }

          function ajouterCatReq() {
            document.getElementById("enplus").innerHTML = "";
            document.getElementById("formMessage").action = "/add-catreq";
          }
          function ajouterNoCat() {
            document.getElementById("enplus").innerHTML =
              '<label ><strong>Raison : </strong></label><input type="text" name="reason" required>';
            document.getElementById("formMessage").action = "/add-nocat";
          }
          function authresponse() {
            console.log("auth");
            document.getElementById("enplus").innerHTML =
              "<label> Envoi une demande de message</label>";
            document.getElementById("formMessage").action = "/auth";
          }
          function denyresponse() {
            document.getElementById("enplus").innerHTML =
              '<label ><strong>ID of proposition msg</strong></label><input type="text" name="id" required><br><label ><strong>Raison : </strong></label><input type="text" name="reason" required>';
            document.getElementById("formMessage").action = "/deny";
          }
          function acceptresponse() {
            document.getElementById("enplus").innerHTML =
              '<label ><strong>ID of proposition msg</strong></label><input type="text" name="id" required>';
            document.getElementById("formMessage").action = "/accept, /head";
          }
        </script>
    </div>
  </body>
</html>
